# Node modules
node_modules/

# Environment variables
*.env
!*.env.example

# Python cache
__pycache__/
*.py[cod]

# Distribution / build directories
dist/
build/

# Log files
*.log

# Dataset folders
ml-api/datasets/

# Model files
*.pt
*.pth
*.onnx
*.pkl
*.h5
*.model

# Large media files
*.mp4
*.avi
*.mov
*.mkv
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.tiff
*.webp

# Ignore IDE specific settings
.vscode/
.idea/
.DS_Store

# Other
*.bak
*.tmp
*.swp
